
@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Parkinsans:wght@300..800&display=swap');

body{
    margin: 0px;
    font-family: 'parkinsans',sans-serif;
    background-image: url(https://i.pinimg.com/736x/9f/32/ac/9f32ac6348788a661167236e55f7c28b.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}
header{
    background-color: black;
    text-align: center;
}
header h1{
    color: white;
    margin: 0px;
    padding: 30px 30px 5px 30px ; 
    font-weight: bold;
}
header p{
    color: white;
    margin: 0px;
    padding: 0px 20px 35px 20px;
}

header p a{
    text-decoration: none;
    color: white;
    font-weight: normal;
}

main{
    max-width: 800px;
    background-color: bisque;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.466);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.596);
}
section p{
    line-height: 2em;
    margin: 0px;
    font-weight: bold;
}

section#q1{
    height: 450px;
}

section#q1 >p{
    padding: 100px 20px; 
}

section#q2{
    height: 450px;
    background-image: url(https://i.pinimg.com/736x/95/72/07/95720783e67afdc39da02950dd48526d.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
}

section#q2 >p{
    margin: 100px 20px;   
    background-color: rgba(0, 0, 0, 0.575);
    width: 230px;
    color: white;
    padding: 8px;
}

section#q3{
    height: 650px;
}

p#q3-1{
    padding: 100px 20px 10px 20px; 
}

p#q3-2{
    padding: 10px 20px 10px 20px; 
}

section#q4{
    height: 450px;
    background-image: url(https://i.pinimg.com/736x/df/08/ac/df08acbea03ba39790033c044e1ef9a8.jpg);
    box-shadow:inset 0px 10px 10px rgba(0, 0, 0, 0.247);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover; 
    background-attachment: fixed;
    padding-top: 50px;
}

section#q4 >p{
    margin: 100px 20px;   
    background-color: rgba(0, 0, 0, 0.575);
    width: 230px;
    color: white;
    padding: 8px;
}

section#q5{
    height: 650px;
}

p#q5-1{
    padding: 100px 20px 10px 20px; 
}

p#q5-2{
    padding: 10px 20px 10px 20px; 
}

footer p{
    margin: 0px;
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;
}
